h1 {
    text-align: center;
    margin-bottom: 30px;;
}

body {
    background-color: darkcyan;
}

.box {
    background-color:darkseagreen;
    width: 600px;
    padding: 5px;
    margin: 10px auto;
    border-radius: 15px;
}